In [1]:
import pandas as pd

In [4]:
rdt = pd.read_csv('realdonaldtrump.csv')

In [5]:
bo = pd.read_csv('Tweets-BarackObama.csv')

In [6]:
rdt.head()

,id,link,content,date,retweets,favorites,mentions,hashtags
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,2009-05-04 13:54:25,510,917,NaN,NaN
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,2009-05-04 20:00:10,34,267,NaN,NaN
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 08:38:08,13,19,NaN,NaN
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 15:40:15,11,26,NaN,NaN
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",2009-05-12 09:07:28,1375,1945,NaN,NaN

In [7]:
bo.head()

,Date,Username,Tweet-text,Tweet Link,Retweets,Likes,TweetImageUrl,Image
0,2019/04/10_17:08,https://twitter.com/BarackObama,From a big NBA fan congrats to future Hall of ...,https://twitter.com/BarackObama/status/1116130...,20954,175133,NaN,NaN
1,2019/04/06_06:16,https://twitter.com/BarackObama,In just a few minutes I’m taking the stage at ...,https://twitter.com/BarackObama/status/1114517...,5206,36179,NaN,NaN
2,2019/04/05_09:25,https://twitter.com/BarackObama,A voice everybody should hear.https://twitter....,https://twitter.com/BarackObama/status/1114202...,27938,134604,NaN,NaN
3,2019/04/04_12:23,https://twitter.com/BarackObama,Here’s a story about people doing good that's ...,https://twitter.com/BarackObama/status/1113884...,15396,78627,NaN,NaN
4,2019/04/03_12:07,https://twitter.com/BarackObama,Great to see Chicago’s historic mayoral race b...,https://twitter.com/BarackObama/status/1113518...,8991,98094,NaN,NaN

* Clean up to do:
- Standardize date formats (separate out day, month, year)
- Split up text into arrays
- Check tweets vs. retweets (decide to categorize or

In [17]:
print('obama', bo['Date'].nunique(), 'trump', rdt['date'].nunique())

obama 6768 trump 42979

In [22]:
bo['Year'] = bo['Date'].apply(lambda x: x[:4])
rdt['Year'] = rdt['date'].apply(lambda x: x[:4])

In [20]:
bo.head()

,Date,Username,Tweet-text,Tweet Link,Retweets,Likes,TweetImageUrl,Image,Year
0,2019/04/10_17:08,https://twitter.com/BarackObama,From a big NBA fan congrats to future Hall of ...,https://twitter.com/BarackObama/status/1116130...,20954,175133,NaN,NaN,2019
1,2019/04/06_06:16,https://twitter.com/BarackObama,In just a few minutes I’m taking the stage at ...,https://twitter.com/BarackObama/status/1114517...,5206,36179,NaN,NaN,2019
2,2019/04/05_09:25,https://twitter.com/BarackObama,A voice everybody should hear.https://twitter....,https://twitter.com/BarackObama/status/1114202...,27938,134604,NaN,NaN,2019
3,2019/04/04_12:23,https://twitter.com/BarackObama,Here’s a story about people doing good that's ...,https://twitter.com/BarackObama/status/1113884...,15396,78627,NaN,NaN,2019
4,2019/04/03_12:07,https://twitter.com/BarackObama,Great to see Chicago’s historic mayoral race b...,https://twitter.com/BarackObama/status/1113518...,8991,98094,NaN,NaN,2019

In [23]:
rdt.head()

,id,link,content,date,retweets,favorites,mentions,hashtags,Year
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,2009-05-04 13:54:25,510,917,NaN,NaN,2009
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,2009-05-04 20:00:10,34,267,NaN,NaN,2009
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 08:38:08,13,19,NaN,NaN,2009
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 15:40:15,11,26,NaN,NaN,2009
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",2009-05-12 09:07:28,1375,1945,NaN,NaN,2009